@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap");

:root {
  /* PRIMARY */
  --: #d87d4a;
  --: #101010;
  --: #f1f1f1;
  --: #fafafa;
  --: #fbaf85;
  --: #ffffff;
  --: #000000;
  --font: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;
  font-family: var(--font);
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  text-transform: uppercase;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-weight: 700;
  font-size: 1.75em;
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-weight: 700;
  font-size: 1.125em;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.btn {
  width: 160px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
}

.btn_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.btn-on-light {
  background-color: #d87d4a;
}

.btn-on-light {
  color: #ffffff;
}

.btn-on-light:hover {
  background-color: #fbaf85;
}

.btn-on-dark {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.btn-on-dark:hover {
  background-color: #000000;
  color: white;
}

.btn-on-white {
  background-color: #000000;
  color: white;
}

.btn-on-white:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.orverline {
  font-weight: 400;
  font-size: 0.875em;
  text-transform: uppercase;
  line-height: 1.1875em;
  letter-spacing: 10px;
}

.sub-title {
  font-weight: 700;
  font-size: 0.8125em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5625em;
}

body {
  font-weight: 500;
  font-size: 0.9375em;
  line-height: 1.5625em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid #f1f1f1;
  animation: background linear both;
  animation-timeline: view(block);
  animation-range: cover 95% cover 0%;
}

@keyframes background {
  from {
    background-color: transparent;
  }

  to {
    background: #101010;
  }
}

.nav .nav-menu {
  background-color: #ffffff;
  height: 0;
  position: fixed;
  top: 80px;
  visibility: hidden;
  overflow-y: hidden;
  transition: all 0.8s ease-in-out;
  z-index: 1000;
}

.filter {
  position: absolute;
  top: 80px;
  background-color: #1010109a;
  width: 100%;
  height: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out;
}

.on {
  height: 100vh;
  visibility: visible;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  gap: 70px;
  padding: 80px 25px 25px 25px;
}

.active {
  height: 675px !important;
  visibility: visible !important;
}

.nav .nav-menu .card-product {
  height: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out;
}

.product .card-product {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 10px;
}

.nav .nav-menu .home {
  display: none;
}

.nav .nav-menu.active .card-product {
  visibility: visible;
  height: 160px;
}

.product .card-product .img-product img {
  width: 150px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -40%);
}

.product .card-product .txt-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.product .card-product .txt-card h6 {
  color: #101010;
}

.product .card-product .txt-card .shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.product .card-product .txt-card .shop small {
  text-transform: uppercase;
  color: #101010;
  font-weight: bolder;
  transition: all 0.5s ease-in-out;
}

.product .card-product .txt-card .shop small:hover {
  color: #d87d4a;
}

.nav .burger,
.bar {
  position: relative;
}

.nav .burger .hamburguer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  gap: 4px;
  cursor: pointer;
}

.nav .burger .hamburguer .bar {
  width: 100%;
  height: 4px;
  background: #ffffff;
  transition: all 0.8s ease-in-out;
}

.nav .burger .hamburguer.open #bar1 {
  transform: rotate(45deg) translate(6px, 6px);
}

.nav .burger .hamburguer.open #bar2 {
  background: transparent;
}

.nav .burger .hamburguer.open #bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../assets/home/mobile/image-header.jpg) no-repeat center /
    cover;
  width: 100%;
  height: 900px;
  max-height: 1200px;
  padding-top: 80px;
}

.header .description-product {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 264px;
  gap: 15px;
  margin-bottom: 25px;
}

.header .description-product h6,
.header .description-product p {
  color: #fafafa;
}

.header .description-product h2 {
  color: #f1f1f1;
}

.nav-main {
  height: 690px;
}

.nav-main .card-product {
  height: 160px;
}

.zx9-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px 25px;
  padding: 30px 25px;
  background-color: #d87d4a;
  position: relative;
  border-radius: 10px;
  gap: 45px;
}

.zx9-speaker .pattern-circles{
  position: absolute;
  background:  url(../assets/home/desktop/pattern-circles.svg) no-repeat center
    center / cover;
  width: 420px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate( -9%, -18%);
}

.zx9-speaker .img-zx9-speaker img {
  width: 200px;
  margin-top: 75px;
}

.zx9-speaker .txt-speaker {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.zx9-speaker .txt-speaker h2 {
  width: 165px;
  margin: auto;
  color: #ffffff;
}

.zx9-speaker .txt-speaker p {
  color: #f1f1f1;
}