@import '../root.module.css';

.orange {
    background-color: var(--color-Orange-900);
    color: #fff;
}

.orange:hover {
    background-color: var(--color-Orange-300);
}

.white {
    background-color: var(--color-White);
    border: 1px solid var(--color-Black-900);
}

.white:hover {
    background-color: var(--color-Black-900);
    color: var(--color-White);
    border: none;
}

.black {
    background-color: var(--color-Black-900);
    color: var(--color-White);
}

.black:hover {
    background-color: #4c4c4c;
}

.transparent {
    border: 1px solid var(--color-Black-900);
}

.transparent:hover {
    background-color: var(--color-Black-900);
    color: var(--color-White);
}