@media screen and (min-width: 768px) {
  /* Product XX99 */
  .img-xx99 {
        background: url(../../assets/product-xx99-mark-two-headphones/tablet/image-category-page-preview.jpg)
        no-repeat center/ cover;
        height: 334px;
  }

  .xx99 {
        text-align: center;
        margin: 0px 100px;
  }

  .description-xx99 {
        display: flex;
        flex-direction: column;
    }

    .features {
        text-align: left;
    }

    .text-features{
        width: 100%;
    }

    .box {
        margin: 0;
    }

    .title-in-the-box{
        text-align: left;
    }

    
}
