@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

/* text Go Back */
.goback a {
  display: block;
  margin: 45px 0;
  color: #acacac;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/* Product XX99 */

.product-xx99 {
    margin-bottom: 100px;
}

.img-xx99 {
  background: url(../../assets/product-xx99-mark-two-headphones/mobile/image-category-page-preview.jpg)
    no-repeat center center / cover;
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

.new-product {
  display: block;
  text-transform: uppercase;
  letter-spacing: 9px;
  color: #f38023;
  margin: 55px 0 15px 0;
}

.title-xx99 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 40px;
}

.text-xx99 {
  margin: 25px 0;
  color: #acacac;
  font-weight: 400;
  font-size: 0.9em;
}

.price-xx99 {
  display: block;
  margin-bottom: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #191919;
}

.amount-xx99 {
  display: inline-flex;
  flex-direction: row;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1em;
  align-items: center;
  justify-content: space-between;
  background: #dbdbdb48;
  padding: 0px 20px;
  margin-right: 10px;
  width: 128px;
  height: 41px;
}

#less,
#more {
  color: #acacac;
  font-size: 0.9em;
  cursor: pointer;
}

.add-card {
    margin: 0;
    padding: 13px;
    width: 165px;
    font-size: .8em;
    font-weight: 600;
}

/* Features */

.features { 
    text-align: center;
}

.title-features {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.text-features {
    margin-top: 25px;
    color: #acacac;
    font-size: .9em;
    font-weight: 500;
    margin: 35px auto;
    width: 360px;
}

/* In the box */
.box {
    margin: auto;
}

.title-in-the-box{
    text-align: center;
    text-transform: uppercase;
    line-height: 2px;
    margin: 65px 0px;
    font-weight: 600;
}

.accessories {
    color: #acacac;
    margin-bottom: 10px;
}

.accessories span {
    color: #f38023;
    font-family: "Ubuntu", sans-serif;
    margin-right: 15px;
}

/* imgs-product-xx99 */

.gallery {
    width: 100%;
    margin-top: 35px;
    border-radius: 10px;
}

.img-gallery-1 {
    background: url(../../assets/product-xx99-mark-two-headphones/mobile/image-gallery-1.jpg) no-repeat center center / cover;
    height: 240px;
    
}

.img-gallery-2 {
    background: url(../../assets/product-xx99-mark-two-headphones/mobile/image-gallery-2.jpg) no-repeat center center / cover;
    height: 240px;
}

.img-gallery-3 {
    background: url(../../assets/product-xx99-mark-two-headphones/mobile/image-gallery-3.jpg) no-repeat center center / cover;
    height: 510px;
}