@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-primery: #ffa45c;
    --color-secundery: #dbdbdb;
    --color: #191919;
}

/* Conf gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.btn {
    width: 223px;
    padding: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: .6s all ease;
    letter-spacing: 2px;
}

/* Conf header */

#header {
    background-color: var(--color);
    color: #fff;
}

/* menu */

.nav-header { 
    display: flex;
    align-items: center;
    padding: 40px 25px;
}

.bl {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin: auto;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-secundery);
}

.burguer { 
    cursor: pointer;
}

.nav-list { 
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    right: 0;
    text-align: center;
    background: var(--color);
    padding-bottom: 10px;
    z-index: 1000;
    transition: .6s all ease;
    visibility: hidden;
    overflow-y: hidden;
}

.nav-list li {
    padding: 15px;
    border-bottom: 2px solid var(--color-secundery);
    cursor: pointer;
}

.active-list {  
    height: 240px;
    visibility: visible;
    /* overflow-y: auto; */
}



/* Logo header */
.logo a{ 
    color: #fff;
    font-size: 1.5em;
}

/* Icon card */
.icon-cart {
    cursor: pointer;
}

/* Main */
.main-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: url(../assets/home/mobile/image-header.jpg) no-repeat bottom center;
    background-size: cover;
    height: 825px;
    text-align: center;
    margin-bottom: 90px;
}

#main .main-text h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    line-height: 65px;
    color: #fff;
    font-weight: 600;
}

#main .main-text  h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 200;
    color: var(--color-secundery);
    margin-bottom: 11px;
}

#main .main-text p {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--color-secundery);
}

.main-text {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Btn */

.btn-orange {
    margin-top: 30px;
    margin: 25px auto;
    background-color: #f79341;
    color: #fff;
    font-weight: 700;
    border: none;
    letter-spacing: 2px;
}

.btn-orange:hover {
    background-color: #f38023;
}

.btn-black {
    display: block;
    margin: 25px auto;
    background-color: #191919;
    border: none;
    color: #fff;
}

.btn-black:hover {
    background-color: #0f0f0f;
    
}

.btn-gray {
    color: #0f0f0f;
    border: 1px solid #0f0f0f;
    font-weight: 600;
}

.btn-gray:hover {
    background-color: #e4e4e4;
}

/* content */

.content {
    padding: 0 40px;
}

/* product */
.product {
    position: relative;
    background-color: #dbdbdb48;
    width: 100%;
    height: 170px;
    margin-top: 80px;
    border-radius: 10px;
}

.product .product-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speaker-zx9 {
    width: 80px;
}

.yx1-earphones {
    width: 180px;
}

.product-text {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    top: 50%;
    text-align: center;
}

.product-text span {
    text-transform: uppercase;
    color: #191919;
    font-weight: 600;
    letter-spacing: 1px;
}

.product-text small {
    margin-top: 15px;    
}

.product-text a {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #9c9c9c;
    font-weight: 500;
    letter-spacing: .55px;
}

.product-text small i {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

/* Descption Zx9 Speaker */

.descption-zx9-speaker {
    background: #f38023;
    margin-top: 100px;
    height: 720px;
    border-radius: 10px;
}

.circle-lg {
    display: flex;
    margin: auto;
    border-radius: 50%;
    height: 400px;
    border: 1px solid #dbdbdbad;
    padding: 25px;
}
.circle-lg img {
    width: 215px;
    height: 220px;
}

.circle-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #dbdbdbad;
}

.descption-zx9-speaker h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 500;
    text-transform: uppercase;
    width: 245px;
    color: white;
    line-height: 65px;
    position: relative;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.descption-zx9-speaker p {
    margin: auto;
    text-align: center;
    width: 323px;
    color: #dbdbdbad;
}

/* Zx7 Speaker */

.zx7-speaker {
    background: url(../assets/home/mobile/image-speaker-zx7.jpg) no-repeat right center / cover;
    width: 100%;
    height: 390px;
    margin: 45px 0 55px 0;
    text-align: center;
    border-radius: 10px;
}

.text-zx7-speaker {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 42%;
    left: -52px;
    transform: translate(0, -50%);
    align-items: center;
}

.text-zx7-speaker h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 16px;
}

/* Yx1 Earphones */

.yx1-earphones {
    width: 100%;
}

.img-yx1  {
    background: url(../assets/home/mobile/image-earphones-yx1.jpg) no-repeat  center center / cover;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.text-yx1-earphones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #e6e6e660;
    border-radius: 10px;
    padding-left: 25px;
    margin: 15px 0px 130px 0px;
}

.text-yx1-earphones h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

/* description-of-prime-store */

.prime-store {
    width: 100%;
    margin: 25px 0 105px 0 ;
    text-align: center;
} 

.best-gear {
    background: url(../assets/shared/mobile/image-best-gear.jpg) center center / cover;
    width: 100%;
    height: 434px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.prime-store h1 {
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}  

.prime-store h1 span {
    color: var(--color-primery);
}

.prime-store p {
    font-size: 1.1em;
    width: 100%;
    color: #c2bfbf;
    line-height: 28px;
}

/* footer */
#footer {
    background-color: #0f0f0f;
    text-align: center;
    padding: 0 54px;
}

.line-orange {
    width: 150px;
    height: 4px;
    background-color: #f38023;
    margin: auto;
}

.logo-footer h1 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 35px 0;
} 

.list-footer {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-footer li {
    margin-bottom: 15px;
}

.text-audiophile {
    margin: 35px 0;
    font-size: 1em;
    color: #c2bfbf;
}

.copy {
    color: #c2bfbf;
    padding-bottom: 35px;
}

.social-media ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    margin: auto;
    padding-bottom: 27px;
}

/*
    // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/