@media screen and (min-width: 768px) {

    /* Conf header */

    #header {
        padding: 0px 35px;
    }

    .nav-header {
        padding: 10px 0px;
    }

    .logo {
        display: flex;
        align-items: center;
        margin: 0 0 0 35px;
    }
}