@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-primery: #ffa45c;
    --color-secundery: #dbdbdb;
    --color: #191919;
}

/* Conf gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.btn {
    width: 223px;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

/* Conf header */

#header {
    background-color: var(--color);
    color: #fff;
}

/* menu */
.nav-header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 25px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-secundery);
}

.burguer { 
    cursor: pointer;
}

.nav-list { 
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    right: 0;
    text-align: center;
    background: var(--color);
    padding-bottom: 10px;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
}

.nav-list li {
    padding: 15px;
    border-bottom: 2px solid var(--color-secundery);
}

.active-list {  
    height: 240px;
    visibility: visible;
    /* overflow-y: auto; */
}



/* Logo header */
.logo a{ 
    color: #fff;
    font-size: 1.5em;
}

/* Icon card */
.icon-cart {
    cursor: pointer;
}

/* Main */
.main-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: url(../assets/home/mobile/image-header.jpg) no-repeat bottom center;
    background-size: cover;
    height: 825px;
    text-align: center;
    margin-bottom: 90px;
}

#main h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    line-height: 65px;
    color: #fff;
    font-weight: 600;
}

#main  h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 200;
    color: var(--color-secundery);
    margin-bottom: 11px;
}

#main p {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--color-secundery);
}

.main-text {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Btn */

.btn-orange {
    margin-top: 30px;
    margin: 25px auto;
    background-color: #f79341;
    color: #fff;
    font-weight: 700;
    border: none;
    letter-spacing: 2px;
    transition: .6s all ease;
}

.btn-orange:hover {
    background-color: #f38023;
}

/* content */

.content {
    padding: 0 40px;
}

/* product */
.product {
    background-color: #dbdbdb;
    width: 100%;
    height: 170px;
    margin-top: 80px;
    border-radius: 10px;
}