main {
    section {
        padding: 64px var(--mobile-spacing);

        .text_product {
            h2 {
                color: var(--orange-900);
            }

            p{
                color: var(--white-300);
            }
        }
    }
}

@media screen and (min-width: 640px) {
    main {
        section {
            padding: 64px var(--tablet-spacing);
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        section {
            padding: 64px var(--descktop-spacing);
        }
    }
}