main {
    .header_main {
        background: url(/assets/home/mobile/image-header.jpg) no-repeat center / cover;
    }
}

@media screen and (min-width: 770px) {
    main {
        .header_main {
            background: url(/assets/home/tablet/image-header.jpg) no-repeat center / cover;
        }
    }
}

@media screen and (min-width: 1025px) {
    main {
        .header_main {
            background: url(/assets/home/desktop/image-hero.jpg) no-repeat center / cover;
            padding-left: var(--descktop-spacing);
        }
    }
}

.main {
    margin: 0 var(--mobile-spacing);

    .zx9 {

        .description {
            background: url(/assets/home/desktop/pattern-circles.svg) no-repeat top / contain;

            .img-zx9 {
                background: url(/assets/home/mobile/image-speaker-zx9.png) no-repeat center / contain;
                
            }
        }
    }

    .zx7 {
        background: url(/assets/home/mobile/image-speaker-zx7.jpg) no-repeat center / cover;
    }

    .yx1 {
        .img-yx1 {
            background: url(/assets/home/mobile/image-earphones-yx1.jpg) no-repeat center / cover;
        }
    }
}

@media screen and (min-width: 640px) {
    .main {
        padding: 0 var(--tablet-spacing);

        .zx9 {
    
            .description {
                background: url(/assets/home/desktop/pattern-circles.svg) no-repeat bottom / cover;
    
                .img-zx9 {
                    background: url(/assets/home/tablet/image-speaker-zx9.png) no-repeat center / contain;
                }
            }
        }

        .zx7 {
            background: url(/assets/home/tablet/image-speaker-zx7.jpg) no-repeat center / cover;
        }

        .yx1 {
            .img-yx1 {
                background: url(/assets/home/tablet/image-earphones-yx1.jpg) no-repeat center / cover;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {
        margin: 0;
        padding: 0 var(--descktop-spacing);

        .zx9 {
            .description {
                background: url(/assets/home/desktop/pattern-circles.svg) no-repeat top right / cover;
            }
        }

        .zx7 {
            background: url(/assets/home/desktop/image-speaker-zx7.jpg) no-repeat center / cover;
        }

        .yx1 {
            .img-yx1 {
                background: url(/assets/home/desktop/image-earphones-yx1.jpg) no-repeat center / cover;
            }
        }
    }
}