h1 {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sub_title {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}

.btn_light {
  background-color: #d87d4a;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_light:hover {
  background-color: #fbaf85;
}

.btn_dark {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_dark:hover {
  background-color: #000;
  border: none;
  color: #fff;
}

.btn_gray {
  background-color: #000;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_gray:hover {
  background-color: #4c4c4c;
}

.btn_transparent {
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_transparent:hover {
  background: #000;
  color: white;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sub_title {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}

.btn_light {
  background-color: #d87d4a;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_light:hover {
  background-color: #fbaf85;
}

.btn_dark {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_dark:hover {
  background-color: #000;
  border: none;
  color: #fff;
}

.btn_gray {
  background-color: #000;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_gray:hover {
  background-color: #4c4c4c;
}

.btn_transparent {
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_transparent:hover {
  background: #000;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #fafafa;
  width: 100%;
  height: 100%;
}

/* Inicio Header */
#header {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .header_container {
  display: flex;
  align-items: center;
  background-color: #191919;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
  max-width: 1280px;
  border-bottom: 1px solid #fff;
  top: 0;
  z-index: 100;
}
#header .header_container .menu {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#header .header_container .menu .hamburguer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#header .header_container .menu .hamburguer .bar {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
}
#header .header_container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#header .header_container .cart {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.menu_mobile {
  background-color: rgba(0, 0, 0, 0.767);
  width: 100%;
  height: 0;
  position: fixed;
  top: 82px;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  visibility: hidden;
  transition: all ease-in-out 0.5s;
}
.menu_mobile .menu_mobile_conteiner {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 25px 45px 25px;
  gap: 55px;
  border-radius: 0px 0px 8px 8px;
}
.menu_mobile .menu_mobile_conteiner .link_cart_menu {
  background: #f1f1f1;
  width: 100%;
  max-width: 400px;
  height: 135px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  border-radius: 8px;
}
.menu_mobile .menu_mobile_conteiner .link_cart_menu .img_product {
  position: absolute;
  top: -35px;
  width: 100px;
}
.menu_mobile .menu_mobile_conteiner .link_cart_menu span, .menu_mobile .menu_mobile_conteiner .link_cart_menu .shop {
  position: relative;
}

.title_span {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.07px;
  color: #000;
  font-size: 15px;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.shop small {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #101010;
  transition: all ease-in-out 0.5s;
}
.shop small:hover {
  color: #d87d4a;
}
.shop i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_mobile.active {
  visibility: visible;
  height: 100vh;
  overflow-y: auto;
}

.menu_descktop {
  display: none;
}

@media screen and (min-width: 768px) {
  #header .header_container {
    padding: 25px 40px;
  }
  #header .header_container .cart {
    width: 60%;
    justify-content: end;
  }
}
@media screen and (min-width: 1280px) {
  #header .header_container {
    padding: 25px 80px;
    align-items: center;
  }
  #header .header_container .menu {
    display: none;
  }
  #header .header_container .cart {
    width: auto;
    order: 2;
  }
  #header .header_container .menu_descktop {
    display: flex;
    order: 1;
  }
  #header .header_container .menu_descktop ul {
    display: flex;
    gap: 35px;
  }
  #header .header_container .menu_descktop ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;
    transition: all ease-in-out 0.5s;
  }
  #header .header_container .menu_descktop ul li a:hover {
    color: #d87d4a;
  }
}
/* Fim header */
#main .main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 90px 25px;
  max-width: 1280px;
  margin: auto;
  gap: 40px;
}
#main .main_container .featured_products {
  display: grid;
  gap: 65px;
  max-width: 1280px;
  width: 100%;
}
#main .main_container .featured_products .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 100%;
  height: 160px;
  position: relative;
  padding: 10px;
  gap: 8px;
}
#main .main_container .featured_products .product .img_product {
  width: 150px;
  position: absolute;
  top: -50px;
}

@media screen and (min-width: 768px) {
  #main .main_container {
    padding: 90px 40px;
  }
  #main .main_container .featured_products {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
  }
}
@media screen and (min-width: 1280px) {
  #main .main_container {
    padding: 90px 80px;
  }
}
.title_header {
  padding: 15px;
}
.title_header h4 {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .title_header {
    padding: 45px;
  }
}
#main .main_container_pages {
  padding: 0 25px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin: 65px auto;
}
#main .main_container_pages .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
}
#main .main_container_pages .product .img_product_page {
  width: 100%;
  height: 340px;
  border-radius: 8px;
}
#main .main_container_pages .product .xx99_II {
  background: #f1f1f1 url(../product-xx99-mark-two-headphones/mobile/image-product.jpg) no-repeat center/contain;
}
#main .main_container_pages .product .xx99_I {
  background: #f1f1f1 url(../product-xx99-mark-one-headphones/mobile/image-product.jpg) no-repeat center/contain;
}
#main .main_container_pages .product .xx59 {
  background: #f1f1f1 url(../product-xx59-headphones/mobile/image-product.jpg) no-repeat center/contain;
}
#main .main_container_pages .product .ZX9 {
  background: #f1f1f1 url(../product-zx9-speaker/mobile/image-product.jpg) no-repeat center/contain;
}
#main .main_container_pages .product .ZX7 {
  background: #f1f1f1 url(../product-zx7-speaker/mobile/image-product.jpg) no-repeat center/contain;
}
#main .main_container_pages .product .YX1 {
  background: #f1f1f1 url(../product-yx1-earphones/mobile/image-product.jpg) no-repeat center/contain;
}
#main .main_container_pages .product .product_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 334px;
}
#main .main_container_pages .product .product_text .overline {
  color: #d87d4a;
}

@media screen and (min-width: 768px) {
  #main .main_container_pages {
    padding: 0 40px;
  }
  #main .main_container_pages .product .img_product_page {
    width: 100%;
    height: 250px;
  }
  #main .main_container_pages .product .xx99_II {
    background: #f1f1f1 url(../product-xx99-mark-two-headphones/tablet/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .xx99_I {
    background: #f1f1f1 url(../product-xx99-mark-one-headphones/tablet/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .xx59 {
    background: #f1f1f1 url(../product-xx59-headphones/tablet/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .ZX9 {
    background: #f1f1f1 url(../product-zx9-speaker/tablet/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .ZX7 {
    background: #f1f1f1 url(../product-zx7-speaker/tablet/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .YX1 {
    background: #f1f1f1 url(../product-yx1-earphones/tablet/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .product_text {
    max-width: 566px;
  }
  #main .main_container_pages .product .product_text h4 {
    width: 214px;
  }
}
@media screen and (min-width: 1280px) {
  #main .main_container_pages {
    padding: 0 80px;
    gap: 85px;
  }
  #main .main_container_pages .product {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    gap: 95px;
  }
  #main .main_container_pages .product .img_product_page {
    width: 546px;
    height: 460px;
  }
  #main .main_container_pages .product .xx99_II {
    background: #f1f1f1 url(../product-xx99-mark-two-headphones/desktop/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .xx99_I {
    background: #f1f1f1 url(../product-xx99-mark-one-headphones/desktop/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .xx59 {
    background: #f1f1f1 url(../product-xx59-headphones/desktop/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .ZX9 {
    background: #f1f1f1 url(../product-zx9-speaker/desktop/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .ZX7 {
    background: #f1f1f1 url(../product-zx7-speaker/desktop/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .YX1 {
    background: #f1f1f1 url(../product-yx1-earphones/desktop/image-product.jpg) no-repeat center/contain;
  }
  #main .main_container_pages .product .product_text {
    max-width: 50%;
    align-items: start;
    gap: 20px;
  }
  #main .main_container_pages .product_II .img_product_page {
    order: 1;
  }
}
h1 {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sub_title {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}

.btn_light {
  background-color: #d87d4a;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_light:hover {
  background-color: #fbaf85;
}

.btn_dark {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_dark:hover {
  background-color: #000;
  border: none;
  color: #fff;
}

.btn_gray {
  background-color: #000;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_gray:hover {
  background-color: #4c4c4c;
}

.btn_transparent {
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_transparent:hover {
  background: #000;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #fafafa;
  width: 100%;
  height: 100%;
}

/* Inicio Header */
#header {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .header_container {
  display: flex;
  align-items: center;
  background-color: #191919;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
  max-width: 1280px;
  border-bottom: 1px solid #fff;
  top: 0;
  z-index: 100;
}
#header .header_container .menu {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#header .header_container .menu .hamburguer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#header .header_container .menu .hamburguer .bar {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
}
#header .header_container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#header .header_container .cart {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.menu_mobile {
  background-color: rgba(0, 0, 0, 0.767);
  width: 100%;
  height: 0;
  position: fixed;
  top: 82px;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  visibility: hidden;
  transition: all ease-in-out 0.5s;
}
.menu_mobile .menu_mobile_conteiner {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 25px 45px 25px;
  gap: 55px;
  border-radius: 0px 0px 8px 8px;
}
.menu_mobile .menu_mobile_conteiner .link_cart_menu {
  background: #f1f1f1;
  width: 100%;
  max-width: 400px;
  height: 135px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  border-radius: 8px;
}
.menu_mobile .menu_mobile_conteiner .link_cart_menu .img_product {
  position: absolute;
  top: -35px;
  width: 100px;
}
.menu_mobile .menu_mobile_conteiner .link_cart_menu span, .menu_mobile .menu_mobile_conteiner .link_cart_menu .shop {
  position: relative;
}

.title_span {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.07px;
  color: #000;
  font-size: 15px;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.shop small {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #101010;
  transition: all ease-in-out 0.5s;
}
.shop small:hover {
  color: #d87d4a;
}
.shop i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_mobile.active {
  visibility: visible;
  height: 100vh;
  overflow-y: auto;
}

.menu_descktop {
  display: none;
}

@media screen and (min-width: 768px) {
  #header .header_container {
    padding: 25px 40px;
  }
  #header .header_container .cart {
    width: 60%;
    justify-content: end;
  }
}
@media screen and (min-width: 1280px) {
  #header .header_container {
    padding: 25px 80px;
    align-items: center;
  }
  #header .header_container .menu {
    display: none;
  }
  #header .header_container .cart {
    width: auto;
    order: 2;
  }
  #header .header_container .menu_descktop {
    display: flex;
    order: 1;
  }
  #header .header_container .menu_descktop ul {
    display: flex;
    gap: 35px;
  }
  #header .header_container .menu_descktop ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;
    transition: all ease-in-out 0.5s;
  }
  #header .header_container .menu_descktop ul li a:hover {
    color: #d87d4a;
  }
}
/* Fim header */
#main .main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 90px 25px;
  max-width: 1280px;
  margin: auto;
  gap: 40px;
}
#main .main_container .featured_products {
  display: grid;
  gap: 65px;
  max-width: 1280px;
  width: 100%;
}
#main .main_container .featured_products .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 100%;
  height: 160px;
  position: relative;
  padding: 10px;
  gap: 8px;
}
#main .main_container .featured_products .product .img_product {
  width: 150px;
  position: absolute;
  top: -50px;
}

@media screen and (min-width: 768px) {
  #main .main_container {
    padding: 90px 40px;
  }
  #main .main_container .featured_products {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
  }
}
@media screen and (min-width: 1280px) {
  #main .main_container {
    padding: 90px 80px;
  }
}
h1 {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sub_title {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}

.btn_light {
  background-color: #d87d4a;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_light:hover {
  background-color: #fbaf85;
}

.btn_dark {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_dark:hover {
  background-color: #000;
  border: none;
  color: #fff;
}

.btn_gray {
  background-color: #000;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.btn_gray:hover {
  background-color: #4c4c4c;
}

.btn_transparent {
  border: 1px solid #000;
  color: #000;
  transition: all ease-in-out 0.5s;
}

.btn_transparent:hover {
  background: #000;
  color: white;
}

.main_container_product_detail {
  padding: 0 25px;
  max-width: 1280px;
  margin: auto;
}
.main_container_product_detail .go_back {
  margin: 25px 0;
}
.main_container_product_detail .go_back a {
  color: #000;
}
.main_container_product_detail .product_detail .img_product_detail {
  background: #f1f1f1 url(../product-xx99-mark-two-headphones/mobile/image-category-page-preview.jpg) no-repeat center/contain;
  width: 100%;
  height: 327px;
  border-radius: 8px;
}
.main_container_product_detail .product_detail .descript_product_detail {
  margin: 25px 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.main_container_product_detail .product_detail .descript_product_detail .overline {
  color: #d87d4a;
}
.main_container_product_detail .product_detail .descript_product_detail .title_product {
  width: 202px;
}
.main_container_product_detail .product_detail .descript_product_detail p {
  color: #000;
}
.main_container_product_detail .product_detail .descript_product_detail .price {
  font-weight: bold;
  letter-spacing: 1.29px;
}
.main_container_product_detail .product_detail .descript_product_detail .add_to_cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main_container_product_detail .product_detail .descript_product_detail .add_to_cart .quantity {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.main_container_product_detail .product_detail .descript_product_detail .add_to_cart .quantity .btn_quantity {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.main_container_product_detail .product_detail .descript_product_detail .add_to_cart .quantity .btn_quantity:hover {
  color: #d87d4a;
}
.main_container_product_detail .product_detail .descript_product_detail .add_to_cart .btn_light {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main_container_product_detail {
    padding: 0 40px;
  }
  .main_container_product_detail .product_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
  }
  .main_container_product_detail .product_detail .img_product_detail {
    background: #f1f1f1 url(../product-xx99-mark-two-headphones/tablet/image-category-page-preview.jpg) no-repeat center/contain;
    width: 100%;
    height: 480px;
  }
}
@media screen and (min-width: 1280px) {
  .main_container_product_detail {
    padding: 0 80px;
  }
  .main_container_product_detail .product_detail {
    gap: 55px;
  }
  .main_container_product_detail .product_detail .img_product_detail {
    background: #f1f1f1 url(../product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg) no-repeat center/contain;
    width: 100%;
    height: 560px;
  }
}
.features {
  display: flex;
  flex-direction: column;
  margin: 95px 0;
  gap: 95px;
}
.features .features_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.features .in_the_box .description_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 25px;
}
.features .in_the_box .description_box .description_content {
  display: flex;
  gap: 35px;
}
.features .in_the_box .description_box .description_content span {
  color: #d87d4a;
}

@media screen and (min-width: 768px) {
  .features .in_the_box {
    display: flex;
    width: 100%;
    gap: 150px;
  }
  .features .in_the_box .description_box {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .features {
    flex-direction: row;
  }
  .features .in_the_box {
    flex-direction: column;
    gap: 25px;
  }
}
.main_container_product_detail .img_product_detail {
  width: 100%;
  height: 754px;
  display: grid;
  grid-template-rows: repeat(2, 184px) 1fr;
  gap: 20px;
  margin-bottom: 90px;
}
.main_container_product_detail .img_product_detail .gallery {
  border-radius: 8px;
}
.main_container_product_detail .img_product_detail .gallery1 {
  background: url(../product-xx99-mark-two-headphones/mobile/image-gallery-1.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
}
.main_container_product_detail .img_product_detail .gallery2 {
  background: url(../product-xx99-mark-two-headphones/mobile/image-gallery-2.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
}
.main_container_product_detail .img_product_detail .gallery3 {
  background: url(../product-xx99-mark-two-headphones/mobile/image-gallery-3.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
}

.main_container_product_detail .img_product_detail {
  height: 368px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#footer {
  background: #101010;
  padding: 0 25px 35px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
#footer .footer_container .line_top {
  width: 100px;
  height: 4px;
  background: #d87d4a;
  margin-bottom: 45px;
}
#footer .footer_container .top_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
#footer .footer_container .top_content .list_menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer .footer_container .top_content .list_menu .link_menu a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 2px;
  color: #fff;
  transition: all ease-in-out 0.5s;
}
#footer .footer_container .top_content .list_menu .link_menu a:hover {
  color: #d87d4a;
}
#footer .footer_container p {
  color: #fff;
  width: 328px;
}
#footer .footer_container .bottom_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}
#footer .footer_container .bottom_content .social_media .list_social_media {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
#footer .footer_container .bottom_content .social_media .list_social_media .link_social_media a {
  display: flex;
  justify-content: center;
}
#footer .footer_container .bottom_content .social_media .list_social_media .link_social_media a i {
  font-size: 20px;
  color: #fff;
  transition: all ease-in-out 0.5s;
}
#footer .footer_container .bottom_content .social_media .list_social_media .link_social_media a i:hover {
  color: #d87d4a;
}

@media screen and (min-width: 768px) {
  #footer {
    padding: 0 40px 35px 40px;
    align-items: start;
  }
  #footer .footer_container {
    align-items: start;
    text-align: left;
  }
  #footer .footer_container .top_content {
    align-items: start;
  }
  #footer .footer_container .top_content .list_menu {
    flex-direction: row;
  }
  #footer .footer_container p {
    width: 100%;
  }
  #footer .footer_container .bottom_content {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .footer_container .bottom_content .social_media .list_social_media {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  #footer {
    padding: 0 80px 35px 80px;
  }
  #footer .footer_container .top_content {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .footer_container p {
    width: 540px;
  }
}/*# sourceMappingURL=footer.css.map */