main {
    .form {
        margin: 24px var(--mobile-spacing) 0 var(--mobile-spacing) ;
        padding: 24px;

        h2 {
            color: var(--orange-900);
            margin: 16px 0;
        }
        

        .method {
            & span {
                font-size: 14px;
                letter-spacing: -0.25px;
                font-weight: bold;
            }
        }

        ul {
            li {
                .number {
                    font-size: 15px;
                    line-height: 25px;
                    font-weight: bold;
                    color: #c2c2c2;
                }
            }
        }

        .summary {
            h3 {
                font-size: 15px;
                line-height: 25px;
                font-weight: 400;
                color: #c2c2c2;
                text-transform: uppercase;
            }

            span {
                font-size: 18px;
                font-weight: bold;
            }

            .grandTotal {
                color: var(--orange-900);
            }

            .button_default {
                width: 100%;
                height: 48px;
                border: none;
                background-color: transparent;
                text-transform: uppercase;
                font-family: var(--font-manrope);
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 1px;
                transition: all .5s ease-in-out;
                cursor: pointer;
            }

            .orange {
                background-color: var(--orange-900);
                color: #fff;
            }
            
            .orange:hover {
                background-color: var(--orange-300);
            }
        }
    }
}

@media screen and (min-width: 640px) {
    main {
        form {
            margin: 64px var(--tablet-spacing) 0 var(--tablet-spacing) ;
            padding: 300;

            .form {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        form {
            margin: 64px var(--descktop-spacing);
            padding: 0; 

            .form {
                margin: 0;
            }
        }
    }
}