main {
    form {
        margin: 24px var(--mobile-spacing);
        padding: 24px;

        .formImputs {
            h2 {
                color: var(--orange-900);
            }

            label {
                font-size: 12px;
                letter-spacing: -0.21px;
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 640px) {
    main {
        form {
            margin: 64px var(--tablet-spacing);
            padding: 30px;
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        form {
            margin: 64px var(--descktop-spacing);
            padding: 50px;
        }
    }
}