@import '../root.module.css';

header {
    nav {
       padding: 0 var(--mobile-spacing);

        .left_content {
            .burger {                
                &.on {
                    .hambuguer {
                        position: relative;

                        #bar1{
                            transform: rotate(45deg);
                            position: absolute;
                            top: 45%;
                        }

                        #bar2{
                            background-color: transparent;
                        }

                        #bar3{
                            transform: rotate(-45deg);
                            position: absolute;
                            top: 45%;
                        }
                    }
                }
            }
        }

        .bg_menu {
            height: 0;
            top: 90px;
            left: 0;
            background-color: rgba(0, 0, 0, 0.288);
            opacity: 0;
            overflow: hidden;
            transition: all ease-in-out .5s;
            z-index: 999;

            .menu_mobile {
                height: 85%;
                border-radius: 0 0 8px 8px;
    
                .nav_list {
                    background-color: var(--white-600);
                    padding-bottom: 22px;
    
                    img {
                        width: 114px;
                        height: 104px;
                        top: -38px;
                    }
                }

                @media screen and (min-width: 640px) {
                    height: 45%;
                    padding: 0 10px;
                }
            }

            &.active_button {
                height: calc(100vh - 90px);
                opacity: 1;
                overflow: auto;
            }
        }

        #cart {
            background-color: rgba(0, 0, 0, 0.322);
            top: 89px;
            left: 0;
            width: 100%;
            height: calc( 100vh - 89px );

            &.activeCart {
                display: flex;
            }

            .remove {
                color: #d6d6d6 ;
                border-color: #d6d6d6;
                transition: all .5s ease-in-out;

                &:hover {
                    color: var(--orange-900);
                }
            }

            .number {
                font-size: 15px;
                line-height: 25px;
                font-weight: bold;
                color: #c2c2c2;
            }

            .button {
                background-color: var(--white-600);

                .buttonAmount {
                    color: #adacac;

                    &:hover {
                        color: var(--orange-900);
                    }
                }
            }

            .total {
                color: #d6d6d6;
            }

            .button_checkout {
                background-color: var(--orange-900);
                transition: all .5s ease-in-out;

                &:hover {
                    background-color: var(--orange-300);
                }
            }
        }
    }
}


@media screen and (min-width: 770px) {
    header {
        nav {
            padding: 0 var(--tablet-spacing);
        }
    }
}

@media screen and (min-width: 1025px) {
    header {
        nav {
            margin: 0 var(--descktop-spacing);

            .menu_descktop {
                .list_item {
                    a {
                        transition: all .5s ease-in-out;
                    }

                    a:hover {
                        color: var(--orange-900);
                    }
                }
            }
        }
    }
}