@import '../root.module.css';

header {
    background-color: transparent;
    position: absolute;
    top: 0;

    nav {
       border-bottom: 1px solid var(--white);
       padding: 0 var(--mobile-spacing);

        .left_content {
            .burger {
                width: 16px;
                height: 16px;
                
                .hambuguer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
    
                    .bar {
                        width: 100%;
                        height: 3px;
                        background-color: var(--white);
                        transition: all ease-in-out .3s;
                    }
                }

                &.on {
                    .hambuguer {
                        position: relative;

                        #bar1{
                            transform: rotate(45deg);
                            position: absolute;
                            top: 45%;
                        }

                        #bar2{
                            background-color: transparent;
                        }

                        #bar3{
                            transform: rotate(-45deg);
                            position: absolute;
                            top: 45%;
                        }
                    }
                }
            }
        }

        .bg_menu {
            height: 0;
            top: 90px;
            left: 0;
            background-color: rgba(0, 0, 0, 0.288);
            opacity: 0;
            overflow: hidden;
            transition: all ease-in-out .5s;
            z-index: 999;

            .menu_mobile {
                height: 85%;
                border-radius: 0 0 8px 8px;
    
                .nav_list {
                    background-color: var(--white-600);
                    padding-bottom: 22px;
    
                    img {
                        width: 114px;
                        height: 104px;
                        top: -38px;
                    }
                }

                @media screen and (min-width: 640px) {
                    height: 45%;
                    padding: 0 10px;
                }
            }

            &.active_button {
                height: calc(100vh - 90px);
                opacity: 1;
                overflow: auto;
            }
        }

        #cart {
            background-color: rgba(0, 0, 0, 0.322);
            top: 89px;
            left: 0;
            width: 100%;
            height: calc( 100vh - 89px );

            &.activeCart {
                display: flex;
            }
        }
    }
}


@media screen and (min-width: 770px) {
    header {
        nav {
            padding: 0 var(--tablet-spacing);
        }
    }
}

@media screen and (min-width: 1025px) {
    header {
        nav {
            margin: 0 var(--descktop-spacing);

            .menu_descktop {
                .list_item {
                    a {
                        transition: all .5s ease-in-out;
                    }

                    a:hover {
                        color: var(--orange-900);
                    }
                }
            }
        }
    }
}